<div class="entry">
  <h3 class="h3">How much a dollar really cost?</h3>
  <h3 class="h3">BDC Rates</h3>
  <div class="outer">
    <p>N<span id="dollar"><%= @formattedrate %></span></p>
  </div>
</div>

<p class="left"><a href="/">Parallel Rates</a></p>
<p class="source">Scraped from <a target="_blank" href="http://abokifx.com">abokifx.com</a></p>