/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background: green;
    color: white;
    font-size: 62.5%;
}
.entry {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.entry .h3 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
}
.outer {

}
.outer p {
    text-align: center;
    font-size: 3em;
}
.source {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 1.4em;
}
.source a {
    color: white;
    text-decoration: underline;
}
.left {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1.4em;
}
.left a {
    color: white;
    text-decoration: underline;
}